.stories{
    display: flex;
    gap: 10px;
    height: 250px;
    margin-bottom: 30px;
    .story{
        flex: 1;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        span{
            position: absolute;
            left: 10px;
            color: white;
            bottom: 10px;
            font-weight: 500;
        }
        button{
            position: absolute;
            color: white;
            bottom: 40px;
            background-color: rgb(39, 212, 117);
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            left: 10px;
            cursor: pointer;
            
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}